body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden; /* Para evitar barras de rolagem com os planetas animados */
  height: 100vh; /* Garante que o body ocupe toda a altura da tela */
}

#universe {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.planet {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  transform-origin: center center;
  transition: transform 0.2s;
  z-index: 2; /* Fica acima do fundo e atrás da tooltip */
}

.planet:hover {
  transform: scale(1.2);
}

.tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 14px;
  display: none;
  pointer-events: none;
  z-index: 1000;
}
